<div class="container">
  <form [formGroup]="form" (ngSubmit)="submit()">
   <div class="row">
    <div class="head" >
      <img [src]="myimage" class="img"> 
     </div>
    <div class="body">
   
    <div class="">
      <div class="part1">
       <div class="strai">
         <h1>Straight 1PC</h1>
       </div>
      </div>
      <div class="row">
      <div class="part2">
        <div class="form-group pt">
          <label for="powersoakorientation" class="col-lg-4 col-md-4 ">Power Soak Orientation</label>
          <input  formControlName="powersoakorientation" class="col-lg-8 col-md-8 " />
        </div>
      </div>
      <div class="part3">
       
        <div class="row">
        <div class="col-lg-6 col-md-6  dis1">

                                             <!--Unit Features-->
             
            <div class="unit">
             <div class="unit1">
               <div>
                <h1>Unit Features</h1>
              </div>
             </div>
             <div class="unit2">
             
               <div class="row">
                
                <div class=" col-lg-6 col-md-6  uni">
                  
                    <div class="form-group my-2">
                      <label for="Rims" class=" col-lg-6 col-md-6 ">Rims</label>
                     <select class=" col-lg-6 col-md-6 "   formControlName="Rims">
                       <option value="20">20</option>
                     </select>
                    </div>
                    <div class="form-group my-2">
                      <label for="BackSplash" class="col-lg-6 col-md-6 ">Back Splash</label>
                      <select class=" col-lg-6 col-md-6 " formControlName="BackSplash">
                        <option value="15">15</option>
                      </select>
                    </div>
                    <div class="form-group my-2">
                      <label for="EndSplashRight" class="col-lg-6 col-md-6 ">End Splash Right</label>
                      <select class=" col-lg-6 col-md-6 " formControlName="EndSplashRight">
                        <option value="25">25</option>
                      </select>
                    </div>
                    <div class="form-group my-2">
                      <label for="EndSplashLeft" class="col-lg-6 col-md-6 ">End Splash Left</label>
                      <select class=" col-lg-6 col-md-6 " formControlName="EndSplashLeft">
                        <option value="10">10</option>
                      </select>
                    </div>
                </div>
                <div class=" col-lg-6 col-md-6  uni">
                  <div class="form-group my-2">
                    <label for="UnitWidth" class="col-lg-6 col-md-6 ">Unit Width</label>
                    <select class=" col-lg-6 col-md-6 " formControlName="UnitWidth">
                      <option value="25">25</option>
                    </select>
                  </div>
                  <div class="form-group my-2">
                    <label for="UnitLength" class="col-lg-6 col-md-6 ">Unit Length</label>
                    <select class=" col-lg-6 col-md-6 " formControlName="UnitLength">
                      <option value="30">30</option>
                    </select>
                  </div>
                  <div class="form-group my-2">
                    <label for="DeckHeight" class="col-lg-6 col-md-6 ">Deck Height</label>
                    <select class=" col-lg-6 col-md-6 " formControlName="DeckHeight">
                      <option value="50.5">50.5</option>
                    </select>
                  </div>
                </div>
                <div>
   
  
                </div>
               </div>
              
             
            </div>
            </div> 

                                        <!--Rectangle--> 

            <div class="Rectangle" >
              <div class="container con">
                <div>
              <div class="form-group my-2">
                <label for="PSXXX" class="col-lg-3 col-md-3 ">PS-XXX</label>
                <select class="col-lg-6 col-md-6 " formControlName="PSXXX">
                  <option></option>
                </select>
              </div>
              <div class="form-group my-3">
                <label for="Voltage" class="col-lg-3 col-md-3 ">Voltage</label>
                <select class="col-lg-6 col-md-6 "formControlName="Voltage">
                  <option></option>
                </select>
              </div>
              <div class="form-group my-3">
                <label for="GenX" class="col-lg-3 col-md-3 ">Gen-X</label>
                <select class="col-lg-6 col-md-6 " formControlName="GenX">
                  <option></option>
                </select>
              </div>
              <div class="form-group my-3">
                <label for="Heater" class="col-lg-3 col-md-3 ">Heater</label>
                <select class="col-lg-6 col-md-6 " formControlName="Heater">
                  <option></option>
                </select>
              </div>
              <div class="form-group my-3">
                <label for="CrossRails" class="col-lg-3 col-md-3 ">Cross Rails</label>
                <select class="col-lg-6 col-md-6 " formControlName="CrossRails">
                  <option></option>
                </select>
              </div>
              <div class="form-group my-3">
                <label for="FootType" class="col-lg-3 col-md-3 ">Foot Type</label>
                <select class="col-lg-6 col-md-6 " formControlName="FootType">
                  <option></option>
                </select>
              </div>
              <div class="form-group my-3">
                <label for="DrainBallValue" class="col-lg-3 col-md-3 ">Drain Ball Value</label>
                <select class="col-lg-6 col-md-6 " formControlName="DrainBallValue">
                  <option></option>
                </select>
              </div>
              <div class="form-group my-3">
                <label for="DryingRack" class="col-lg-3 col-md-3 ">Drying Rack</label>
                <select class="col-lg-6 col-md-6 " formControlName="DryingRack">
                  <option></option>
                </select>
              </div>
            </div>
            <div class="display">
              <div class="col-lg-4 col-md-4 ">
                <div class="form-group py-1">
                 <input type="radio" formControlName="DualTempering">
                 <label for="DualTempering">Dual Tempering</label>
                </div>
                <div class="form-group py-1">
                  <input type="radio" formControlName="ChemicalDispenser">
                  <label for="ChemicalDispenser">Chemical Dispenser</label>
                 </div>
              </div>
              <div class="col-lg-4 col-md-4 ">
              <div class="form-group py-1">
                <input type="radio" formControlName="UtensilBasket">
                <label for="UtensilBasket">Utensil Basket</label>
               </div>
               <div class="form-group py-1">
                 <input type="radio" formControlName="SpecialCrating">
                 <label for="SpecialCrating">Special Crating</label>
                </div>
              </div>
            </div>
            </div>                                                                                                                                                                     
         </div>
        </div>


        <div class="col-lg-6 col-md-6  dis2">
         
                                      <!--Sinks-->
          
           <div class="Sinks">
             <div class="Sinks1">
                <h1>Sinks</h1>
             </div>
             <div class="Sinks2">
             
              <div class="tam">
                <div class="tab">
                  <ul>
                      <li id="SoilDrainBoard" (click)="tabChange('SoilDrainBoard')">Soil Drain Board</li>
                      <li id="ScrapSink" (click)="tabChange('ScrapSink')">Scrap Sink</li>
                      <li id="WashSink" (click)="tabChange('WashSink')">Wash Sink</li>
                      <li id="RinseSink" (click)="tabChange('RinseSink')">Rinse Sink</li>
                      <li id="SanitizeSink" (click)="tabChange('SanitizeSink')">Sanitize Sink</li>
                      <li id="CleanDrainBoard" (click)="tabChange('CleanDrainBoard')">CleanDrain Board</li>
                  </ul>
            
                  <div class="content">
                      <div class="content-value" *ngIf="id === 'SoilDrainBoard'">
                        <div class="form-group my-2">
                          <label for="SoilDrainBoardLength" class="col-lg-3 col-md-3 ">Length</label>
                          <select class="col-lg-4 col-md-4 " formControlName="SoilDrainBoardLength">
                            <option value="10">10</option>
                          </select>
                        </div>
                      </div>
                      <div class="content-value" *ngIf="id === 'ScrapSink'">
                        <div class="tai">
                          <div class="col-lg-5 col-md-6  " >
                             <div class="form-group my-2">
                               <input type="radio" formControlName="ScrapperUnit" >
                               <label for="ScrapperUnit" >Scrapper Unit</label>
                             </div>
                          </div>
                          <div class="col-lg-5 col-md-6  ">
                           <div class="form-group my-2">
                             <input type="radio" formControlName="DisposerUnit">
                             <label for="DisposerUnit">Disposer Unit</label>
                           </div>
                          </div>
                        </div>
                    </div>
                    <div class="content-value" *ngIf="id === 'WashSink'">
                      <div class="tai">
                        <div class="col-lg-6 col-md-6 ">
                         <div class="form-group my-2">
                           <label for="WashSinkLength" class="col-lg-6 col-md-6 ">Length</label>
                           <select class="col-lg-6 col-md-6 " formControlName="WashSinkLength">
                             <option value="20">20</option>
                           </select>
                         </div>
                         <div class="form-group my-2">
                          <label for="WashSinkWidth" class="col-lg-6 col-md-6 ">Width</label>
                          <select class="col-lg-6 col-md-6 " formControlName="WashSinkWidth">
                            <option></option>
                          </select>
                        </div>
                        <div class="form-group my-2">
                          <label for="WashSinkDepth" class="col-lg-6 col-md-6 ">Depth</label>
                          <select class="col-lg-6 col-md-6 " formControlName="WashSinkDepth">
                            <option></option>
                          </select>
                        </div>
                        </div>
                        <div class="col-lg-6 col-md-6 ">
                         <div class="form-group my-2">
                           <label for="SheetPanRack" class="col-lg-6 col-md-6 ">Sheet Pan Rack</label>
                           <select class="col-lg-6 col-md-6 " formControlName="SheetPanRack">
                             <option></option>
                           </select>
                         </div>
                         <div class="form-group my-2">
                          <label for="AWI" class="col-lg-6 col-md-6 ">AWI</label>
                          <select class="col-lg-6 col-md-6 " formControlName="AWI">
                            <option></option>
                          </select>
                        </div>
                        </div>
                      </div>
                    </div>
                    <div class="content-value" *ngIf="id === 'RinseSink'">
                      <div class="tai">
                        <div class="col-lg-6 col-md-6 ">
                         <div class="form-group my-2">
                           <label for="RinseSinkLength" class="col-lg-6 col-md-6 ">Length</label>
                           <select class="col-lg-6 col-md-6 " formControlName="RinseSinkLength">
                             <option value="30">30</option>
                           </select>
                         </div>
                         <div class="form-group my-2">
                          <label for="RinseSinkWidth" class="col-lg-6 col-md-6 ">Width</label>
                          <select class="col-lg-6 col-md-6 " formControlName="RinseSinkWidth">
                            <option></option>
                          </select>
                        </div>
                        </div>
                        <div class="col-lg-6 col-md-6 ">
                         <div class="form-group my-2">
                           <label for="RinseSinkDepth" class="col-lg-6 col-md-6 ">Depth</label>
                           <select class="col-lg-6 col-md-6 " formControlName="RinseSinkDepth">
                             <option></option>
                           </select>
                         </div>
                        </div>
                      </div>
                      <div class="radi">
                        
                          <div class="form-group my-2">
                            <input type="radio" formControlName="RinseSinkOverFlow">
                            <label for="RinseSinkOverFlow">OverFlow</label>
                          </div>
                        
                      </div>
                      
                    </div>
                    <div class="content-value" *ngIf="id === 'SanitizeSink'">
                      <div class="tai">
                        <div class="col-lg-6 col-md-6 ">
                         <div class="form-group my-2">
                           <label for="SanitizeSinkLength" class="col-lg-6 col-md-6 ">Length</label>
                           <select class="col-lg-6 col-md-6 "formControlName="SanitizeSinkLength">
                             <option value="40">40</option>
                           </select>
                         </div>
                         <div class="form-group my-2">
                          <label for="SanitizeSinkWidth" class="col-lg-6 col-md-6 ">Width</label>
                          <select class="col-lg-6 col-md-6 " formControlName="SanitizeSinkWidth">
                            <option></option>
                          </select>
                        </div>
                        </div>
                        <div class="col-lg-6 col-md-6 ">
                         <div class="form-group my-2">
                           <label for="SanitizeSinkDepth" class="col-lg-6 col-md-6 ">Depth</label>
                           <select class="col-lg-6 col-md-6 " formControlName="SanitizeSinkDepth">
                             <option></option>
                           </select>
                         </div>
                        </div>
                      </div>
                      <div class="radi">
                        
                          <div class="form-group my-2">
                            <input type="radio" formControlName="SanitizeSinkOverFlow">
                            <label for="SanitizeSinkOverFlow">OverFlow</label>
                          </div>
                        
                      </div>
                  </div>
                  <div class="content-value" *ngIf="id === 'CleanDrainBoard'">
                    <div>
                      <div class="form-group my-2">
                        <label for="CleanDrainBoardLength" class="col-lg-3 col-md-3 ">Length</label>
                        <select class="col-lg-4 col-md-4 " formControlName="CleanDrainBoardLength">
                          <option value="50">50</option>
                        </select>
                      </div>
                    </div>
                  </div>
            
                  </div>
              </div>

              </div>
             </div>
           </div>
          
                                     <!--Scrapper Unit-->
               
           <div class="ScrapperUnit">
            <div class="ScrapperUnit1">
              <div>
               <h1>Scrapper Unit</h1>
             </div>
            </div>
            <div class="ScrapperUnit2">
              
               <div class=" col-lg-6 col-md-6  uni">
                   <div class="form-group my-2">
                     <label for="ScrapperUnitLength" class="col-lg-6 col-md-6 ">Length</label>
                    <select class="col-lg-6 col-md-6 "  formControlName="ScrapperUnitLength">
                      <option value="60">60</option>
                    </select>
                   </div>
                   <div class="form-group my-2">
                     <label for="ScrapperUnitWidth" class="col-lg-6 col-md-6 ">Width</label>
                     <select class="col-lg-6 col-md-6 " formControlName="ScrapperUnitWidth">
                       <option></option>
                     </select>
                   </div>
                   <div class="form-group my-2">
                     <label for="ScrapperUnitDepth" class="col-lg-6 col-md-6 ">Depth</label>
                     <select class="col-lg-6 col-md-6 " formControlName="ScrapperUnitDepth">
                       <option></option>
                     </select>
                   </div>
                   
               </div>
               <div class=" col-lg-6 col-md-6 uni">
                 <div class="form-group my-2">
                   <label for="DrainBoard" class="col-lg-6 col-md-6 ">Drain Board</label>
                   <select class="col-lg-6 col-md-6 " formControlName="DrainBoard">
                     <option></option>
                   </select>
                 </div>
                 <div class="form-group my-2">
                   <label for="DrainType" class="col-lg-6 col-md-6 ">Drain Type</label>
                   <select class="col-lg-6 col-md-6 " formControlName="DrainType">
                     <option></option>
                   </select>
                 </div>
               </div>
            </div>
           </div>
          
                                     <!--Disposer Unit-->
           
           <div class="DisposerUnit">
            <div class="DisposerUnit1">
              <div>
               <h1>Disposer Unit</h1>
             </div>
            </div>
            <div class="DisposerUnit2">
              
               <div class=" col-lg-6 col-md-6  uni">
                   <div class="form-group my-2">
                     <label for="DisposerUnitLength" class="col-lg-6 col-md-6 ">Length</label>
                    <select class="col-lg-6 col-md-6 "  formControlName="DisposerUnitLength">
                      <option value="70">70</option>
                    </select>
                   </div>
                   <div class="form-group my-2">
                     <label for="DisposerUnitWidth" class="col-lg-6 col-md-6 ">Width</label>
                     <select class="col-lg-6 col-md-6 " formControlName="DisposerUnitWidth">
                       <option></option>
                     </select>
                   </div>
                   <div class="form-group my-2">
                     <label for="DisposerUnitDepth" class="col-lg-6 col-md-6 ">Depth</label>
                     <select class="col-lg-6 col-md-6 " formControlName="DisposerUnitDepth">
                       <option></option>
                     </select>
                   </div>
                   
               </div>
               <div class=" col-lg-6 col-md-6  uni">
                 <div class="form-group my-2">
                   <label for="DrainBoard" class="col-lg-6 col-md-6 ">Drain Board</label>
                   <select class="col-lg-6 col-md-6 " formControlName="DisposerUnitDrainBoard">
                     <option></option>
                   </select>
                 </div>
                 <div class="form-group my-2">
                   <label for="WaterInlet" class="col-lg-6 col-md-6 ">Water Inlet</label>
                   <select class="col-lg-6 col-md-6 " formControlName="WaterInlet">
                     <option></option>
                   </select>
                 </div>
                 <div class="form-group my-2">
                  <label for="DisposerDrain" class="col-lg-6 col-md-6 ">Disposer Drain</label>
                  <select class="col-lg-6 col-md-6 " formControlName="DisposerDrain">
                    <option></option>
                  </select>
                </div>
               </div>
            </div>
           </div>
          
                                        <!--Faucets-->
           
           <div class="Faucets">
            <div class="Faucets1">
               <h1>Faucets</h1>
            </div>
            <div class="Faucets2">
             
            <div class="tami">
              <div class="tab">
                <ul>
                    <li id="PreRinseFaucets" (click)="tabChange('PreRinseFaucets')">Pre Rinse Faucets</li>
                    <li id="FillFaucets" (click)="tabChange('FillFaucets')">Fill Faucets</li>
                    
                </ul>
          
                <div class="content">
                    <div class="content-value" *ngIf="id === 'PreRinseFaucets'">
                      <div class="tai">
                        <div class="col-lg-6 col-md-6 ">
                         <div class="form-group my-2">
                           <label for="Type" class="col-lg-6 col-md-6 ">Type</label>
                           <select class="col-lg-6 col-md-6 " formControlName="Type">
                             <option></option>
                           </select>
                         </div>
                        </div>
                        <div class="col-lg-6 col-md-6 ">
                         <div class="form-group my-2">
                           <label for="Quantity" class="col-lg-6 col-md-6 ">Quantity</label>
                           <select class="col-lg-6 col-md-6 " formControlName="Quantity">
                             <option></option>
                           </select>
                         </div>
                        </div>
                      </div>
                    </div>
                    <div class="content-value" *ngIf="id === 'FillFaucets'">
                      <h1>FillFaucets</h1>
                      
                  </div>
                 
              </div>   
              </div>
            </div>

            </div>
          </div>
        
        
      </div>
     </div>
          
       
      </div>
            <div class="part4">

                              <!--Button-->

                  <div class="btn">
                     <button type="submit" class="butn">Assembly</button>
                 </div>
           </div>
      </div>
     </div>
    </div>
   </div>
  </form>
 </div>
  




<router-outlet></router-outlet>
